 <widget id="org.sergiolopes.garconapp"
 version="0.0.1"
 xmlns="http://www.w3.org/ns/widgets"
         xmlns:cdv="http://cordova.apache.org/ns/1.0">
</widget>

<description>
 	App de uso dos garçons e garçonetes do restaurante Só de Cenoura.
</description>
<author href="https://github.com/gomesjeise/garconapp"
 	email="gomes_jeise@hotmail.com">
 	Jesiele Santos
</author>
<preference name="Orientation" value="portrait" />
<preference name="Fullscreen" value="true" />

<platform name="ios">
    	<preference name="DisallowOverscroll" value="true" />
	<preference name="TopActivityIndicator" value="black" />
</platform>

<icon src="resources/icon.png" />
<splash src="resources/splash.png" />